* {
  box-sizing: border-box;
  margin: 0;
  padding: 1px;
  border-radius: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgb(16, 255, 108) 0%,
    rgb(2, 27, 250) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 400px;
  background: #243a9c;
  text-align: center;
  margin: 50px auto;
  border-radius: 25px;
  padding: 0 50px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  text-decoration-color: rgb(213, 251, 3);
  opacity: 0.4;
}

.todo-row.complete>div>div.icons>svg:nth-child(1) {
  opacity: 1;
}

.todo-form {
  width: 100%;
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 70%;
  background: transparent;
  color: #fff;
}

.todo-description {
  margin-top: 10px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
}

.todo-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.todo-button {
  /* padding: 16px; */
  height: fit-content;
  width: fit-content;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin: 0 1px;
  padding: 16px 22px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 100%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.delete-icon:hover {
  color: #ff1a1a;
  transform: rotate(50deg);
  }

.edit-icon {
  color: #fff;
  transition: all 0.5s ease-in-out;
}
edit-icon:hover {
  color: #00ccff;
  transform: rotate(-45deg);
  }
.done {
  text-decoration: line-through;
  transition: all 0.5s ease-in-out;
}

.todo {
  width: 100%;
  text-align: left;
  transition: all 0.5s ease-in-out;
}

.description {
  display: flex;
  transition: all 0.5s ease-in-out;
}
